
<div *ngIf="interviewTemplate">
    <h2><span jhiTranslate="prostarsWebApp.interviewTemplate.detail.title">Interview Template</span> {{interviewTemplate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prostarsWebApp.interviewTemplate.name">Name</span></dt>
        <dd>
            <span>{{interviewTemplate.name}}</span>
        </dd>
        <dt><span jhiTranslate="prostarsWebApp.interviewTemplate.interviewType">Interview Type</span></dt>
        <dd>
            <span>{{interviewTemplate.interviewType}}</span>
        </dd>
        <dt><span jhiTranslate="prostarsWebApp.interviewTemplate.duration">Duration</span></dt>
        <dd>
            <span>{{interviewTemplate.duration}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'interview-template/'+ interviewTemplate.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
