
<div *ngIf="contractHistory">
    <h2><span jhiTranslate="prostarsWebApp.contractHistory.detail.title">Contract History</span> {{contractHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prostarsWebApp.contractHistory.note">Note</span></dt>
        <dd>
            <span>{{contractHistory.note}}</span>
        </dd>
        <dt><span jhiTranslate="prostarsWebApp.contractHistory.createdDate">Created Date</span></dt>
        <dd>
            <span>{{contractHistory.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="prostarsWebApp.contractHistory.contract">Contract</span></dt>
        <dd>
            <div *ngIf="contractHistory.contractId">
                <a [routerLink]="['/contract', contractHistory.contractId]">{{contractHistory.contractId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contract-history/'+ contractHistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
