<h1 class="title" jhiTranslate="prostarsWebApp.introduction.bizIntro.title">ProStars help’s you do more for less</h1>
<h2 class="sub-title" jhiTranslate="prostarsWebApp.introduction.bizIntro.description.line1">Easy to roll on & off, Pros are a perfect fit for your project related work. With ProStars, you can find one perfect Pro or a team of Pros for your project at a fraction of the cost. We are redefining the concept of work.</h2>
<ul class="feature">
    <li jhiTranslate="prostarsWebApp.introduction.bizIntro.benefits.line1">Matches your business needs with highly qualified Pros</li>
    <li jhiTranslate="prostarsWebApp.introduction.bizIntro.benefits.line2">Provides end-to-end collaboration and admin tools for professional services projects</li>
    <li jhiTranslate="prostarsWebApp.introduction.bizIntro.benefits.line3">Single simple fee for our services added to bill rate</li>
    <li jhiTranslate="prostarsWebApp.introduction.bizIntro.benefits.line4">Allows you to convert contractors to employee at no cost</li>
</ul>
<button type="button" [routerLink]="['/biz-info-planning']" routerLinkActive="active" class="btn btn-primary waves-light btn-create-profile" mdbRippleRadius>CREATE PROFILE
</button>
