/*!
 * PROSTARS Style Sheet
 * Copyright 2018 PROSTAR
 */

.md-datepicker {
	position: relative;
	.icon-date {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 24px;
		top: -2px;
	}
}

