<div class="content-match">
    <ol class="breadcrumb mb-16">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item active">Match</li>
    </ol>

    <div class="row">
        <div class="col-12 col-sm-8 col-lg-9">
            <div class="row">

                <div class="col-12 col-lg-4">
                    <a class="card card-notification mb-30 bg-yellow" [routerLink]="['/postWall']">
                        <div class="card-header border-bottom-0">
                            POST BOARD | BID
                        </div>
                        <div class="card-body pt-0">
                            
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-8 col-lg-9">
            <a [routerLink]="['/dashboard']" class="btn mr-16 none-margin-all text-primary">Back to Dashboard</a>
        </div>
    </div>
</div>