<div class="row mt-8">
    <div class="col-12">
        <button class="btn btn-primary none-margin-all" type="submit">REQUEST CHANGE</button>    
    </div>
</div>
<div class="row mt-32">
    <div class="col-12">
        <h4>Change Request History</h4>
    </div>
</div>
<div class="row mt-0">
    <div class="col-12 col-md-2 align-self-center">
        <span class="small fake-label">Date</span>
    </div>
    <div class="col-12 col-md-5 align-self-center">
        <span class="small fake-label">Comment</span>
    </div>
    <div class="col-12 col-md-3 align-self-center">
        <span class="small fake-label">Revised Proposal</span>
    </div>
    <div class="col-12 col-md-2 align-self-center">
        <span class="small fake-label">Sent By</span>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-2">
        05.25.2018
    </div>
    <div class="col-12 col-md-5">
        Please change end date to 08/10/2019
    </div>
    <div class="col-12 col-md-3 color-blue text-truncate">
        <a href="#" class="text-underline"><i class="mdi mdi-file-word fa-lg"></i> proposal-v1.docx</a>
    </div>
    <div class="col-12 col-md-2">
        Liz Smith
    </div>
</div>