<div class="modal-header primary-color white-text">
    <div class="text-left">
        <h5 class="modal-title">Save Template</h5>
    </div>
    <button type="button" class="close mdi mdi-close-circle " data-dismiss="modal" aria-hidden="true" (click)="activeModal.dismiss('closed')"></button>
</div>
<div class="modal-body pad">
    <div class="row">
        <div class="col-12 mt-16">
            Availability
        </div>
    </div>
    <div class="row">
        <div class="col-2-4">
            <span class="small fake-label">Date</span>
        </div>
        <div class="col-2-4">
            <span class="small fake-label">Open time</span>
        </div>
        <div class="col-2-4">
            <span class="small fake-label">To</span>
        </div>
    </div>

    <div class="row list-availability" *ngFor="let line of date; let i = index">
        <div class="col-2-4">
            <div class="md-form mt-0">
                <schedule-datepicker [id]="i" [name]="'date'+i" (value)="recievedDate($event)">
                </schedule-datepicker>
            </div>
        </div>
        <div class="col-2-4">
            <div class="md-form mt-0">
                <schedule-timepicker [id]="i" [name]="'timeFrom'+i" [placeholder]="'Open from'" (value)="recievedTime($event)" [field]="'fromTime'">
                </schedule-timepicker>
            </div>
        </div>
        <div class="col-2-4">
            <div class="md-form mt-0">
                <schedule-timepicker [id]="i" [name]="'timeTo'+i" [placeholder]="'To'" (value)="recievedTime($event)" [field]="'toTime'">
                </schedule-timepicker>
            </div>
        </div>
        <div class="col-2-4">
            <div class="md-form mt-0">
                <select class="mdb-select">
                    <option value="1">(MST)</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
        <div class="col-2-4 align-self-end box-action">
            <button *ngIf="date.length > 1" (click)="onRemoveLine(i)" class="btn btn-danger btn-circle-small btn-minus waves-effect waves-light"
                type="button">
                <span class="mdi mdi-minus" aria-hidden="true"></span>
            </button>
            <button (click)="onAddLine()" class="btn btn-blue btn-circle-small btn-plus waves-effect waves-light" type="button">
                <span class="mdi mdi-plus" aria-hidden="true"></span>
            </button>

        </div>
    </div>
</div>
<div class="modal-footer mt-150">
    <button data-dismiss="modal" class="btn btn-secondary float-left" type="button" (click)="addDate()">OK</button>
</div>