<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInterviewScoreLabel" jhiTranslate="prostarsWebApp.interviewScore.home.createOrEditLabel">Create or edit a Interview Score</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!interviewScore.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="interviewScore.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prostarsWebApp.interviewScore.criteria" for="field_criteria">Criteria</label>
            <input type="text" class="form-control" name="criteria" id="field_criteria"
                [(ngModel)]="interviewScore.criteria" required/>
            <div [hidden]="!(editForm.controls.criteria?.dirty && editForm.controls.criteria?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.criteria?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prostarsWebApp.interviewScore.score" for="field_score">Score</label>
            <input type="number" class="form-control" name="score" id="field_score"
                [(ngModel)]="interviewScore.score" required/>
            <div [hidden]="!(editForm.controls.score?.dirty && editForm.controls.score?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.score?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.score?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prostarsWebApp.interviewScore.interviewSession" for="field_interviewSession">Interview Session</label>
            <select class="form-control" id="field_interviewSession" name="interviewSession" [(ngModel)]="interviewScore.interviewSessionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="interviewSessionOption.id" *ngFor="let interviewSessionOption of interviewsessions; trackBy: trackInterviewSessionById">{{interviewSessionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
