<div class="wrapper-main page-intro">
    <div class="container-main-center">
        <div class="row">
            <div class="col-xl-12 col-content">
                <h1 class="title-biz">I’M A BIZ</h1>
                <h2 class="sub-title">Welcome to ProStars! In order to help you with the setup process, we’ve provide the following checklist of items you’ll need to have on hand to complete your setup. The more you’re prepared with the proper documentation and information, the easier the process will go.</h2>

                <ul class="feature">
                    <li>Contact Info: name & email for each of your Biz’s key contacts (primary account owner, A/P contact, Legal contact and HR contact)</li>
                    <li>Company Info: Marketing / background info about your company. What you want the Pros to know.</li>
                    <li>Contract Info: If you have a standard contract template, you can load that in your company profile. If not you can use one of ours</li>
                    <li>Payment Info: We’ll need some information in order to facilitate payments from you to the Pros. This includes …</li>
                </ul>

                <button type="button" [routerLink]="['/biz-profile']" class="btn btn-primary btn-go waves-light" mdbRippleRadius>GO</button>
            </div>
        </div>
    </div>
</div>