.card-interviews {
  .card-header {
    border-bottom: none;
    background-color: white;
  }
  .card-body {
    border: none;
    color: white;
  }
}

.badge-status-closed {
  background-color: #ff3547;
  box-shadow: none;
  font-size: 14px;
  font-weight: 300;
}

.badge-status-open {
  background-color: #f9bc3d;
  box-shadow: none;
  font-size: 14px;
  font-weight: 300;
}
