
<div *ngIf="roleMatchPro">
    <h2><span jhiTranslate="prostarsWebApp.roleMatchPro.detail.title">Role Match Pro</span> {{roleMatchPro.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prostarsWebApp.roleMatchPro.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'prostarsWebApp.DecisionStatus.' + roleMatchPro.status}}">{{roleMatchPro.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'role-match-pro/'+ roleMatchPro.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
