    <div class="container-home">
        <div class="intro">
            <!--Carousel Wrapper-->
            <div id="ps-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#ps-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#ps-carousel" data-slide-to="1"></li>
                    <li data-target="#ps-carousel" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="carousel-item-content">
                            <h1>Nemo enim ipsam  vol uptatem quia voluptasin</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <button type="button" class="btn btn-sucess z-depth-1a btn-login none-margin-all" routerLink="/login">SIGN IN TO PROSTARS</button>
                        </div>
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="carousel-item-content">
                            <h1>Nemo enim ipsam  vol uptatem quia voluptasin</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <button type="button" class="btn btn-sucess z-depth-1a btn-login none-margin-all">SIGN IN TO PROSTARS</button>
                        </div>
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                        <div class="carousel-item-content">
                            <h1>Nemo enim ipsam  vol uptatem quia voluptasin</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                            <button type="button" class="btn btn-sucess z-depth-1a btn-login none-margin-all">SIGN IN TO PROSTARS</button>
                        </div>
                    </div>
                    <!--/Third slide-->
                </div>
                <!--/.Slides-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
        <div class="pro">
            <a href="/#/introduction">
            <div class="pb-container">
                <div class="img-wrapper">
                    <img src="../../content/img/job.png">
                </div>

                <div class="content-float">
                    <h2>I'M A PRO</h2>
                    <p>Nemo enim ipsam  vol uptatem quia voluptasin adipiscing elit</p>
                </div>
                <img class="or-landscape" src="../../content/img/landscape.png">
                <img class="or-portrait" src="../../content/img/portrait.png">
                </div>
            </a>
        </div>
        <div class="biz">
            <a href="/#/introduction/biz">
	            <div class="pb-container">
	                <div class="img-wrapper">
	                    <img src="../../content/img/biz.png">
	                </div>
	                <div class="content-float">
	                    <h2>I'M A BIZ</h2>
	                    <p>Nemo enim ipsam  vol uptatem quia voluptasin adipiscing elit</p>
	                </div>
	            </div>
            </a>
        </div>
    </div>