
<div *ngIf="interview">
    <h2><span jhiTranslate="prostarsWebApp.interview.detail.title">Interview</span> {{interview.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="prostarsWebApp.interview.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'prostarsWebApp.InterviewStatus.' + interview.status}}">{{interview.status}}</span>
        </dd>
        <dt><span jhiTranslate="prostarsWebApp.interview.note">Note</span></dt>
        <dd>
            <span>{{interview.note}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'interview/'+ interview.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
