<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInterviewLabel" jhiTranslate="prostarsWebApp.interview.home.createOrEditLabel">Create or edit a Interview</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!interview.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="interview.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prostarsWebApp.interview.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="interview.status" id="field_status"  required>
                <option value="PENDING_AVAILABILITY">{{'prostarsWebApp.InterviewStatus.PENDING_AVAILABILITY' | translate}}</option>
                <option value="DECLINE_AVAILABILITY">{{'prostarsWebApp.InterviewStatus.DECLINE_AVAILABILITY' | translate}}</option>
                <option value="SCHEDULED">{{'prostarsWebApp.InterviewStatus.SCHEDULED' | translate}}</option>
                <option value="COMPLETED">{{'prostarsWebApp.InterviewStatus.COMPLETED' | translate}}</option>
                <option value="PENDING_ACCEPTANCE">{{'prostarsWebApp.InterviewStatus.PENDING_ACCEPTANCE' | translate}}</option>
                <option value="ACCEPTED">{{'prostarsWebApp.InterviewStatus.ACCEPTED' | translate}}</option>
                <option value="DECLINED">{{'prostarsWebApp.InterviewStatus.DECLINED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="prostarsWebApp.interview.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="interview.note" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
