.badge-status-open {
    background-color: #f9bc3d;
    box-shadow: none;
    font-size: 14px;
    font-weight: 300;
  }
  
  .badge-status-closed {
    background-color: #FF3547;
    box-shadow: none;
    font-size: 14px;
    font-weight: 300;
  }