<form name="registerForm" role="form" (ngSubmit)="onNext()" #registerForm="ngForm">
  <!--Panel-->
  <div class="card border-light mb-3">
      <div class="card-header">SUMMARY BIO</div>
      <div class="card-body">
          <div class="alert alert-danger" *ngFor="let error of errorList">
              {{error}}
          </div>
          <jhi-role-common name="selectedRoles" (allRoleListLoad)="onAllRoleListLoad($event)" ngDefaultControl [(selectedRoles)]="bioSkillData.selectedRoles" (selectedRolesChange)="onSelectedRoleChange()"></jhi-role-common>
          <div class="md-form">
              <textarea type="text" class="md-textarea form-control" rows="3" id="summaryBio" name="summaryBio" #summaryBio="ngModel" placeholder="{{'prostarsWebApp.pro.summaryProfile.bioPlaceHolder' | translate}}"
                  [(ngModel)]="bioSkillData.summaryBio" maxlength=500 required></textarea>
              <label class="active" for="Form-pass1" for="email">Summary Bio</label>
              <div *ngIf="summaryBio.dirty && summaryBio.invalid">
                  <small class="form-text text-danger" *ngIf="summaryBio.errors.required" jhiTranslate="prostarsWebApp.pro.summaryProfile.summaryBioRequired">
                      Your summaryBio is required.
                  </small>
                  <small class="form-text text-danger" *ngIf="summaryBio.errors.maxlength" jhiTranslate="prostarsWebApp.pro.summaryProfile.summaryBioMaxLength">
                      Your summaryBio cannot be longer than 500 characters.
                  </small>
              </div>
              <div class="text-right">
                  <small class="grey-text">{{ bioSkillData.summaryBio.length }}/500</small>
              </div>
          </div>
          <jhi-skill-common [(skills)]= "bioSkillData.skills" [addMoreRowsFlag]=true></jhi-skill-common> 
          <h5 class="section-name mt-24">Bill Rate <span class="mdi mdi-help-circle-outline mdi-18px tooltip-question ml-16"  id="tooltip-bill-rate"></span></h5>
          <div class="row" *ngFor="let item of bioSkillData.selectedRoles; let i = index">
            <div class="col-12 col-sm-4">
                <div class="md-form">
                    <div class="form-control input-data">{{item.itemName}}</div>
                    <label class="active">Role</label>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                  <div class="md-form">
                      <i class="mdi mdi-currency-usd prefix-unit"></i>
                      <input type="number" [(ngModel)]="item.lowRate" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Low Rate">
                      <label class="active">From</label>
                  </div>
              </div>
              <div class="col-12 col-sm-4">
                  <div class="md-form">
                      <i class="mdi mdi-currency-usd prefix-unit"></i>
                      <input type="number" [(ngModel)]="item.highRate" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="High Rate">
                      <label class="active">To</label>
                  </div>
                  <div *ngIf="item.highRate < item.lowRate">
                    <small class="form-text text-danger" jhiTranslate="prostarsWebApp.post.targetRate.validateHighInput">
                        High Rate Must > Low Rate
                    </small>
                </div>
              </div>
          </div>
          
          <div class="md-form text-right">
              <button class="btn mr-24 none-margin-all text-primary" type="submit" (click)="onBack()">BACK</button>
              <button class="btn btn-primary btn-primary-profile none-margin-all" type="submit" (click)="onNext()" [disabled]="registerForm.form.invalid">NEXT</button>
          </div>
      </div>
  </div>
  <!--/.Panel-->
</form>